bot/
build/
build/web/
dest/
plugins/clear
plugins/anime
plugins/strawberry
plugins/trailers
plugins/quality
plugins/interface
plugins/cardify
plugins/black-friday
plugins/christmas
plugins/broadcast
plugins/sport
node_modules/
svg/
temp/
.idea/
package-lock.json
src/utils/api/okko.js
**/__pycache__/
**/.DS_Store
/.idea
/venv
/.venv
.env
/.data
.data
icon_project.svg
celerybeat-schedule.db
/test/
.logs/
/.logs/
logs/
/logs/
app/admin/statics/avatars/
/app/admin/statics/avatars/
dev.env
/dev.env

.ropeproject/
/.ropeproject
/.ropeproject/
/venv/
